body {
    color: white;
    background-color: #010f4e !important;

    .title {
        font-size: 50px;
    }

    .sub-title {
        padding: 0 6vw;
    }

    .login-btn {
        height: 7vh;
    }
}