.footer {
    color: white;
    background-color: #010f4e;
    height: 13vh;

    .title {
        letter-spacing: 6px;
        font-weight: 800;
        font-size: 20px;
    }

    .sub-title {
        letter-spacing: 1px;
    }
}