/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body {
    margin: 0 20%;
    
    body {
        background-color: rgba(90, 90, 90, 0.067);
    }
}

.mr-2 {
    margin-right: 2vw;
}

.ml-2 {
    margin-left: 2vw;
}

.mr-4 {
    margin-right: 7vw;
}

.ml-4 {
    margin-left: 7vw;
}

.green-snackbar {
    background: rgb(65, 252, 134);
    color: white;
}
.green-snackbar button {
    background-color: rgb(65, 252, 134);
    color: white;
    border: none;
}
.red-snackbar {
    background: #F44336;
    color: white;
}
.red-snackbar button {
    background-color: #F44336;
    color: white !important;
    border: none;
}